<p>
  <strong>価格:</strong>
  <%= number_to_currency(@store_book_price.price, unit: "￥", precision: 0 ) %>
</p>

<%= link_to '編集', edit_store_book_price_path(@store_book_price) %> |
<%= link_to '一覧', store_book_prices_path %>
