<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @store_book_price.price %>
</p>

<%= link_to 'Edit', edit_store_book_price_path(@store_book_price) %> |
<%= link_to 'Back', store_book_prices_path %>
